<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Новый пользователь</title>
    <link rel="stylesheet" th:href="@{/styles/css/main.css}"/>
</head>
<body>
<div class="wrap">
    <h1>Новый пользователь</h1>
    <div class="form-wrapper">
        <form th:method="GET" th:action="@{adr}" th:object="${user}">
            <div>
                <label for="name">Профессия:</label>
                <br/>
                <input type="text" th:field="*{prof}" id="prof" required/>
                <div class="error" th:if="${#fields.hasErrors('Prof')}" th:errors="*{Prof}"></div>
            </div>
            <div>
                <label for="name">Имя:</label>
                <br/>
                <input type="text" th:field="*{name}" id="name" required/>
                <div class="error" th:if="${#fields.hasErrors('Name')}" th:errors="*{Name}"></div>
            </div>
            <div>
                <label for="surname">Фамилия:</label>
                <br/>
                <input type="text" th:field="*{surname}" id="surname" required/>
                <div class="error" th:if="${#fields.hasErrors('Surname')}" th:errors="*{Surname}"></div>
            </div>
            <div>
                <label for="username">Логин:</label>
                <br/>
                <input type="text" th:field="*{username}" id="username" required/>
                <div class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
            </div>
            <div>
                <label for="password">Пароль:</label>
                <br/>
                <input type="text" th:field="*{password}" id="password" required/>
                <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            </div>
            <select th:field="*{roles}" >
                <option th:value="'1'" th:text="USER"></option>
                <option th:value="'2'" th:text="ADMIN"></option>
            </select>

            <br/>
            <br/>
            <input type="submit" value="Обновить"/>
            <input type="button" value="Вернуться" onclick="window.location.href='/'"/>
        </form>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
</div>
</body>
</html>