<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <input type="button" value="Регистрация User" onclick="window.location.href='/registration'"/>
    <br>
    <br>
    <input type="button" value="Войти" onclick="window.location.href='/login'"/>
    <input type="button" value="Моя страница" onclick="window.location.href='/userPage'"/>
    <br>
    <br>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</head>
<body>

</body>
</html>